 <li>
	{{burger_name}}

	<button class="change-devoured" data-id="{{id}}" data-newOrder="{{devoured}}">
		{{#if devoured}}DEVOUR IT!{{else}}EAT AGAIN!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>